@charset "UTF-8";
@import 'common.scss';

/* 공통 */
body {
  &.hidden {
    overflow: hidden;
  }
}

#modal {
}
#portal {
}

// header
.header {
  border-bottom: 1px solid #efefef;
  z-index: 1;

  .inner {
    display: flex;
    padding: 0 1.5rem;
    align-items: center;
    height: 4rem;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-sizing: border-box;
  }

  h1 {
    text-align: left;
    font-size: 1.6rem;
    font-weight: $font-bold;
  }

  &.intro {
    .inner {
      justify-content: center;
      align-items: center;
      height: 6rem;
    }
  }

  &.main {
    .inner {
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100%;
      padding: 0 1rem 0 1.5rem;
      border-bottom: 1px solid #efefef;
    }
    
    .tnb {
      display: flex;
      align-items: center;
    }

    .btn-menu {
      width: 3rem;
      height: 3rem;
      margin-left: .5rem;
      text-indent: -9999px;
      background: url($path-img-ico + 'ico-menu.svg') no-repeat 50% 50%;
      background-size: 2.5rem;
    }
  }
}

// footer
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  border-top: 1px solid #efefef;
  background-color: #fff;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-around;

    button {
      width: 5rem;
      height: 5rem;
    }
  }
}

/* form */
.input-control {
  width: 100%;

  &:not(:first-child) {
    margin-top: 10px;
  }

  input {
    &[type='text'],
    &[type='password'],
    &[type='email'] {
      width: 100%;
      height: 5rem;
      padding: 0 1.5rem;
      border-radius: 0.5rem;
      color: #333;
      background-color: #fafafa;
    }
    &.err {
      border: 1px solid #ff1e00;
      &::placeholder {
        color: #ff1e00;
      }
    }
  }

  textarea {
    width: 100%;
    height: 8rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    color: #333;
    background-color: #fafafa;
    resize: none;

    &.err {
      border: 1px solid #ff1e00;
      &::placeholder {
        color: #ff1e00;
      }
    }
  }
}

.search-area {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
  box-sizing: border-box;

  .btn__close {
    position: relative;
    display: block;
    width: 5rem;
    height: 5rem;
    flex-shrink: 0;
  }

  .input-control {
    margin-top: 0;
    padding-right: 1.5rem;

    input[type='text'] {
      height: 4rem;
      padding-right: 5rem;
      border-radius: 50px;
      box-sizing: border-box;
      background-color: #ecebeb;
    }
  }

  .btn__search {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    display: block;
    width: 5rem;
    height: 5rem;
    flex-shrink: 0;
  }
}

/* btn */
.btn {
  display: block;
  width: 12rem;
  height: 4.5rem;
  border-radius: 50px;
  background-color: #c9c9c9;
  font-size: 1.4rem;
  color: #fff;
  background-color: $main-color;

  &__add {
    width: 3rem;
    height: 3rem;
    text-indent: -9999px;
    background: url($path-img-ico + 'ico-add.svg') no-repeat 50% 50%;
    background-size: 2rem;
  }

  &__search {
    width: 3rem;
    height: 3rem;
    text-indent: -9999px;
    background: url($path-img-ico + 'ico-search.svg') no-repeat 50% 50%;
    background-size: 2.4rem;
  }

  &__close {
    position: absolute;
    width: 3rem;
    height: 3rem;
    text-indent: -9999px;
    background: url($path-img-ico + 'ico-close.svg') no-repeat 50% 50%;
    background-size: 1.2rem;
  }

  &__back {
    width: 3rem;
    height: 3rem;
    text-indent: -9999px;
    background: url($path-img-ico + 'ico-back.svg') no-repeat 50% 50%;
    background-size: 1.5rem;

    &.right {
      transform: rotate(180deg);
    }
  }

  &:hover {
    background-color: #aa0303;
  }
}

.btn-area {
  .btn {
    margin-top: 3rem;
    width: 100%;
    height: 5rem;
    border-radius: 0.5rem;
  }
}

/* intro */
.intro-area {
  padding: 40px 15px 15px;

  &__box {
    &:not(:first-child) {
      margin-top: 4rem;
    }

    p {
      &:not(:first-child) {
        margin-top: 1rem;
      }

      font-size: 3.4rem;
      font-weight: $font-bold;
      line-height: 1.4;
      color: #111;
    }
    .btn {
      margin-top: 15px;
    }
  }
}

.auth-wrap {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #fff;

  header {
    position: relative;
    display: flex;
    width: 100%;
    height: 6rem;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 1.4rem;
    }
  }

  // 로그인 및 회원가입
  .membership {
    margin-top: 3rem;
    padding: 0 1.5rem;
  }

  &__close {
    position: absolute;
    width: 3rem;
    height: 3rem;
    right: 1.5rem;
    top: 1.5rem;
    text-indent: -9999px;
    background: url($path-img-ico + 'ico-close.svg') no-repeat 50% 50%;
    background-size: 1.2rem;
  }
}

/* post */
.post-content {
  padding-top: 4rem;
  padding-bottom: 5rem;

  .post-box {
    display: flex;
    height: 9rem;
    padding: 0 1.5rem;
    align-items: center;

    &__thumb {
      overflow: hidden;
      display: flex;
      width: 6rem;
      height: 6rem;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      border: 1px solid #efefef;
      flex-shrink: 0;

      img {
        height: 100%;
      }
    }

    &__area {
      width: calc(100% - (6rem + 1.5rem));
      margin-left: 1.5rem;

      .tit {
        width: 100%;
        display: block;
        font-size: 1.4rem;
        font-weight: $font-medium;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #111;
      }

      .txt-info {
        width: 100%;
        margin-top: 0.8rem;
        font-size: 1.2rem;
        font-weight: $font-regular;
        line-height: 1.4;
        color: rgb(128, 128, 128);
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }
}

.modal-wrap {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vh;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;

  &__form {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    header {
      padding: 3rem 1.5rem;
      font-size: 1.4rem;
    }
  }

  &__content {
    padding: 1.5rem;
    border-top: 1px solid #efefef;

    ul {
      li {
        margin-top: 1.5rem;
      }
    }

    .tit-label {
      font-size: 1.2rem;
    }

    .input-control {
      input[type='text'] {
        height: 4rem;
      }
    }

    .img-wrap {
      margin-top: 1rem;

      .img-content {
        display: flex;
        align-items: center;
        .img-area {
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 6rem;
          height: 6rem;
          border: 1px solid #efefef;
          border-radius: 1rem;
          background: url($path-img-ico + 'ico-add-img.svg') no-repeat 50% 50%;
          background-size: 2rem;

          img {
            height: 100%;
          }
        }

        .img-pre-view {
          position: relative;
          margin-right: 1rem;
        }

        .btn-del {
          position: absolute;
          right: -0.5rem;
          top: -0.5rem;
          width: 2rem;
          height: 2rem;
          text-indent: -9999px;
          background: url($path-img-ico + 'ico-del.svg') no-repeat 50% 50%;
          background-size: 2rem;
          z-index: 1;
        }

        input[type='file'] {
          display: none;
        }
      }
    }
  }

  .btn__close {
    position: absolute;
    top: 2rem;
    right: 1rem;
  }

  .btn-area {
    margin-top: 3rem;
    padding: 0 1.5rem;

    .btn {
      margin-top: 0px;
      border-radius: 50px;
    }
  }
}

/* skeleton */
.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;

  &__tit {
    display: block;
    max-width: 30%;
    height: 1.2rem;
    opacity: 0.7;
    animation: skeleton-loading 1s linear infinite alternate;
    border-radius: 1rem;
  }

  &__text {
    width: 100%;
    height: 1.2rem;
    opacity: 0.7;
    animation: skeleton-loading 1s linear infinite alternate;
    border-radius: 1rem;
  }

  @keyframes skeleton-loading {
    0% {
      background-color: hsl(200, 20%, 70%);
    }
    100% {
      background-color: hsl(200, 20%, 95%);
    }
  }
}

/* detail */
.detail {
  position: relative;
  padding-top: 5.1rem;
  padding-bottom: 6.6rem;

  header {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    padding: 1rem;
    background-color: #fff;
    box-sizing: border-box;
    border-bottom: 1px solid #efefef;

    .inner {
      display: flex;
      align-items: center;
    }

    .btn__back {
      flex: none;
      flex-shrink: 0;
    }

    strong {
      flex: none;
      margin-left: 1rem;
      max-width: calc(100% - 10rem);
      line-height: 1.2;
      font-size: 1.4rem;
      font-weight: $font-regular;
    }

    .btn {
      flex: none;
      margin-left: auto;
      width: 5rem;
      height: 3rem;
      flex-shrink: 0;
    }
  }

  .visual {
    text-align: center;
    img {
      width: 100%;
    }
  }

  .content {
    padding: 1.5rem;

    p {
      font-size: 1.3rem;
    }
  }
}
/* commend */
.commend-wrap {
  header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #efefef;
    background-color: #fff;

    .btn__back {
      flex-shrink: 0;
    }

    strong {
      margin-left: 1rem;
      line-height: 1.2;
      font-size: 1.4rem;
      font-weight: $font-regular;
    }

    span {
      margin-left: 0.5rem;
      line-height: 1.2;
      font-size: 1.2rem;
      font-weight: $font-regular;
    }
  }

  &__content {
    padding-top: 5.1rem;
    padding-bottom: 6rem;

    ul {
      li {
        padding: 1.5rem;
        border-bottom: 1px solid #efefef;

        .user-info {
          display: flex;
          align-items: center;

          .user-thum {
            border-radius: 100%;
            width: 3rem;
            height: 3rem;
            margin-right: 1rem;
            background-color: #000;
            flex-shrink: 0;
          }
          span {
            font-size: 1.2rem;
          }
        }

        .txt {
          margin-top: 1rem;
          padding: 0 1.5rem;
          line-height: 1.4;
          font-size: 1.2rem;
        }
      }
    }
  }

  &__form {
    position: fixed;
    left: 0px;
    bottom: 0px;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 1rem;
    background-color: #fff;

    .input-control {
      input[type='text'] {
        height: 4rem;
        border-radius: 50px;
        background-color: #ddd;
      }
    }

    .btn {
      width: auto;
      height: auto;
      margin-left: 1rem;
      padding: 1rem 1.5rem;
      flex-shrink: 0;
    }
  }
}
.commend-area {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  padding: 1.5rem;
  border-top: 1px solid #efefef;
  background-color: #fff;
  z-index: 1;

  &.event-none {
    pointer-events: none;
  }

  &__info {
    display: flex;

    strong {
      font-size: 1.3rem;
      font-weight: $font-medium;
    }

    span {
      margin-left: 5px;
      font-size: 1.2rem;
    }
  }

  &__content {
    margin-top: 1rem;
    p {
      font-size: 1.2rem;
    }
  }
}

.menu {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;

  &__wrap {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    padding: 0 1.5rem;
    background-color: #fff;
  }
  &__list {
    padding-top: 4rem;
    &__btn {
      width: 100%;
      padding: 1rem;
      font-size: 1.6rem;
      font-weight: $font-medium;
      text-align: right;
      color: #111;
    }
  }
  .btn__back {
    position: absolute;
    top: 0.5rem;
    right: 0.8rem;
  }
}

.error {
  padding-top: 3rem;

  &__content {
    padding: 2rem;
    text-align: center;

    p {
      font-size: 1.6rem;
    }
  }
  .btn-area {
    margin-top: 2rem;
    text-align: center;
    .btn {
      display: inline-block;
      width: 15rem;
      margin-top: 0;
      border-radius: 1rem;
    }
  }
}

@include desktop {

  .wrap {
    &.login {
      width: 100%;
      height: 100vh;
      background-image: url($path-img-bg + 'bg-intro01.jpg');
      background-position: 0 0;
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }

  // header
  .header {
    height: auto;
    border-bottom: none;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 1;

    h1 {
      text-align: left;
      font-size: 2rem;
      font-weight: $font-bold;
    }


    &.intro {
      .inner {
        justify-content: flex-start;
        align-items: center;
        padding: 0 2rem;
        height: 6rem;
        border-bottom: 1px solid #efefef;
      }
    }

    &.main {
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100%;
      padding: 0 1rem 0 1.5rem;
      border-bottom: 1px solid #efefef;
      
      .inner {
        width: 800px;
        margin: 0 auto;
        position: relative;
        height: 6rem;
        padding: 0;
        border-bottom: none;

        .tnb {
          display: flex;
          align-items: center;
        }

        .main-search {
          position: relative;
          width: 100%;
          max-width: 800px;
        }
      }

    }
  }

  /* intro */
  .intro-area {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100vh;
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;

    &__box {
      p {
        font-size: 6rem;
      }
      .br {
        display: none;
      }
      .btn {
        width: 18rem;
        height: 6.5rem;
        font-size:2rem;
      }
    }
  }

  .auth-wrap {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);

    .auth-container {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-300px);
      width: 500px;
      height: 400px;
      padding: 4rem 2rem 0rem;
      background-color: #fff;
      border-radius: 1rem;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
      box-sizing: border-box;
    }
  }

  .post-content {
    width: 100%;
    height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 8rem;
  
    .post-box {
      height: 12rem;
      padding: 0 3rem;
      border: 1px solid #efefef;
      border-radius: 1rem;
      margin-bottom: 2rem;
      
      &__thumb {
        width: 8rem;
        height: 8rem;
      }
  
      &__area {
        width: calc(100% - (6rem + 1.5rem));
        margin-left: 1.5rem;
        
        .tit {
          width: 100%;
          display: block;
          font-size: 1.4rem;
          font-weight: $font-medium;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          color: #111;
        }
  
        .txt-info {
          width: 100%;
          margin-top: 0.8rem;
          font-size: 1.2rem;
          font-weight: $font-regular;
          line-height: 1.4;
          color: rgb(128, 128, 128);
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }
    }
  }

  .menu {
    position: fixed;
    top: 70px;
    left: auto;
    right: calc(50% - 400px);
    width: 150px;
    height: auto;
    background-color: transparent;
    z-index: 2;
    
    &__wrap {
      position: absolute;
      top: 0;
      right: 0;
      width: 120px;
      height: auto;
      padding: 4rem 1.5rem 2rem;
      background-color: #fff;
      border-radius: 1rem;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    }
    &__list {
      padding-top: 0rem;

      &__btn {
        width: 100%;
        padding: 1rem;
        font-size: 1.6rem;
        font-weight: $font-medium;
        text-align: right;
        color: #111;
      }
    }

    .btn__back {
      position: absolute;
      top: 0.5rem;
      right: 0.8rem;
      background: url($path-img-ico + 'ico-close.svg') no-repeat 50% 50%;
      background-size: 1.2rem;
    }
  }

  .detail {
    width: 100%;
    max-width: 800px;
    height: 100vh;
    padding-top: 6.1rem;
    margin: 0 auto;
    border-right: 1px solid #efefef;
    border-left: 1px solid #efefef;

    .inner {
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
      height: 6rem;

      h1 {
        font-size: 2rem;
      }
    }

    header {
      height: 6rem;
      padding: 0 2rem;

      strong {
        font-size: 2rem;
        font-weight: 700;
      }
    }

    .content {
      min-height: 600px;
      p {
        font-size: 1.6rem;
      }
    }
  }
  .commend-area {
    position: relative;
  }

  .modal-wrap {
    width: 100%;
    height: 100%;
    
    &__form {
      width: 600px;
      bottom: 50%;
      left: 50%;
      transform: translateY(100px) translateX(-50%);
      padding: 0 0 2rem 0;
    }

    &__content {
      padding: 3rem 2rem;

      ul {
        li {
          &:first-child {
            margin-top: 0px;
          }
          margin-top: 3rem;
        }
      }
    }
  }
}